.colorStyle{
    margin-right: 10px;
}

.topBarButton {
    margin-left: 10px;
}
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.centered, .centered div:first-child {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.signInStatus {
    color: white;
}
.bordered {
    border-right: solid 1px white;
    padding-right: 15px;
}