/* Email Widget Styles */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
h2 {
  text-align: center;
}
hr {
  background-color: black;
}
.email-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* https://stackoverflow.com/questions/21227287/make-div-scrollable */
  text-align: center;
}
.emails a {
  color: black;
  font-size: large; /* https://www.w3schools.com/css/css_font_size.asp */
  font-weight: bold;
}
.email {
  margin-bottom: 10px;
}
form {
  width: 100%;
}
form div, form select, form button {
  margin: 10px;
}