/* NEWS-api example from:
https://github.com/alemesa/news-api-react/blob/master/src/Display.css
Used as reference */

.cardsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 95%;
	margin: 0 auto;
}

.cardsContainer {
	flex: 1;
}

.source {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.news-content {
	padding-top: 0;
	width: 58%;
    padding: 5px;
    font-size: 80%
}

.card {
	display: flex;
	flex-direction: row;
	width: 90%;
	padding: 5px;
	margin: 10px 0;
	border-bottom: 1px solid grey;
}

.image {
	padding-left: 1rem;
	width: 40%;
	margin-bottom: 0;
}

.cardsContainer img {
	max-width: 300px;
	width: 100%;
}