.WeatherWidget {
    /* background-color: rgb(92, 235, 216); */
    padding: 4px;
    border: 2px solid black;
    border-radius: 6px;
    /* opacity: 90%; */
    /* background: radial-gradient(circle, rgba(255,255,255,0.19) 0%, rgba(179,179,179,0.19) 100%); */
}

.handle {
    text-align: center;
    /* background: radial-gradient(circle, rgba(255,255,255,0.60) 0%, rgba(179,179,179,0.60) 100%); */
    border-radius: 6px;
    
}